{% extends "pagina_web/base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Incluir novo cliente</h1>
  </div>
</div>

<div class="container">
    {% if sucesso %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Cliente incluído com sucesso
    </div>
    {% endif %}
    {% if erro %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Preencha todos os campos corretamente
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ incluir_form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-success">Enviar</button>
    </form>
</div>
{% endblock %}