{% extends "pagina_web/base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 mb-5">Pesquisar Clientes</h1>
    <form method="POST">
        {% csrf_token %}
        {{ pesquisar_form.as_p }}
        <button type="submit" class="btn btn-sm btn-outline-success">Buscar</button>
    </form>
  </div>
</div>
<div class="container my-5">
    {% if sucesso %}
    <div class="alert alert-success">
        Mensagem enviada com sucesso
    </div>
    {% endif %}
</div>

<div class="container">
  {% if clientes %}
  <table class="table table-hover">
    <thead class="thead-dark initialism" align="center">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sexo</th>
        <th scope="col">Idade</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
      <tbody align="center">
      {% for i in clientes %}
      <tr>
        <td>
          <span>{{i.nome}}</span>

        </td>
        <td>{{i.sexo}}</td>
        <td>{{i.idade}}</td>
        <td><a href="{% url 'pagina_web:editar' i.id %}">Editar</a></td>
        <td><a href="{% url 'pagina_web:deletar' i.id %}">x</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    {% if pesquisado %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Nenhum cliente encontrado
    </div>
    {% endif %}
  {% endif %}
</div>

{% endblock %}