{% extends "pagina_web/base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 mb-5">Visualizar Clientes</h1>
  </div>
</div>


<div class="container">
  <table class="table table-hover">
    <thead class="thead-dark initialism" align="center">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sexo</th>
        <th scope="col">Idade</th>
        <th scope="col">Editar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody align="center">
      {% for i in clientes %}
      <tr>
        <td>
          <span>{{i.nome}}</a>

        </td>
        <td>{{i.sexo}}</td>
        <td>{{i.idade}}</td>
        <td><a href="{% url 'pagina_web:editar' i.id %}">Editar</a></td>
        <td><a href="{% url 'pagina_web:deletar' i.id %}">x</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}